
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    z-index: 2;
    background-color: rgb(98,119,78);
}

.header .logo img{
    height: 6rem;
}

.header .nav-bar .nav-div{
    position: absolute;
    top: 4rem;
    right: 2rem;
    cursor: pointer;
    font-size: 3rem;
    color: aliceblue;
}

.header .nav-bar .nav-div #close{
    display: none;
}

.header .nav-bar a{
    font-size: 20px;
    margin-right: 20px;
    color: aliceblue;
}

.header .nav-bar a:hover{
    cursor: pointer;
    color: rgb(2, 111, 19);
}

.header .menu{
    display: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: aliceblue;
}

.home{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgb(98,119,78);
}

section{
    padding: 2rem 6%;
}

.home .main-content{
    flex: 1 1 40rem;
    padding-top: 6.5rem;
}

.home .main-image{
    flex: 1 1 40rem;
}

.home .main-image img{
    width: 90%;
}

.home .main-content .content{
    font-size: 8rem;
    color: aliceblue;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
}

.home .main-content .content span{
    text-transform: uppercase;
    color: rgb(2, 111, 19);
}

.home .main-content .about{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: aliceblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing: 2px;
}

.home .main-content .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: aliceblue;
    background: rgb(2, 111, 19);
    cursor: pointer;
}

.home .main-content .btn:hover{
    letter-spacing: .2rem;
}

@media (max-width: 991px) {
    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .header .menu{
        display: inline-block;
    }

    .header .nav-bar{
        position: fixed;
        top: 0;
        right: -105%;
        width: 15rem;
        background: aliceblue;
        backdrop-filter: blur(50px);
        transition: .5s;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        z-index: 1200;
    }

    .header .nav-bar.active{
        right: 0;
    }

    .header .nav-bar .nav-div{
        display: block; 
        color: rgb(2, 111, 19);  
    }

    .header .nav-bar .nav-div #close{
        display: block;
        color: rgb(2, 111, 19);
        margin-left: 90px;
        margin-bottom: 150px;
    }

    .header .nav-bar a{
        display: block;
        margin: 2rem auto;
        font-size: 3rem;
        text-align: center;
        color: rgb(2, 111, 19);
    }

    .header .nav-bar a:hover{
        color: yellowgreen;
    }

    .home .main-content{
        padding-top: 9.5rem;
    }

    .home .main-image img{
        width: 368px;
    }

    .home .main-content .content{
        font-size: 4rem;
    }

    .home .main-content .about{
        font-size: 1.6rem;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
}